.transactionsHistory {
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(49, 42, 42, 0.2);
  margin-bottom: 50px;
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
}

.thad {
  background: rgba(73, 44, 83, 0.979);
  text-transform: uppercase;
  color: rgb(194, 191, 191);
}
.row {
  border: 1px solid rgb(174, 163, 214);
  font-weight: 500;
  font-size: 19px;
  color: rgba(73, 44, 83, 0.979);
  padding: 15px;
}
.tr:nth-child(even) {
  background-color: rgb(172, 155, 155);
}
.title {
  padding: 15px 0;
}
